[net]
# Testing
#batch=1
#subdivisions=1
# Training
batch=64
subdivisions=1
width=736
height=416
channels=3
momentum=0.9
decay=0.0005
angle=0
saturation = 1.5
exposure = 2
hue=.05

mosaic=0
letter_box=1

learning_rate=0.00025
burn_in=4000
max_batches = 1000020
policy=steps
steps=800000,900000
scales=.1,.1

[convolutional]
batch_normalize=1
filters=32
size=3
stride=2
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=64
size=3
stride=2
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-1
groups=2
group_id=1

[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

[route]
layers = -1,-2

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky

[route]
layers = -6,-1

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-1
groups=2
group_id=1

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

[route]
layers = -1,-2

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[route]
layers = -6,-1

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-1
groups=2
group_id=1

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

[route]
layers = -1,-2

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

[route]
layers = -6,-1

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

##################################

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=27
activation=linear



[yolo]
mask = 6,7,8
anchors =  12, 23,  24, 48,  38, 89,  77, 52,  61,132,  84,211, 139,132, 135,292, 263,330
classes=4
num=9
jitter=.15
scale_x_y = 1.15
ignore_thresh = .8
truth_thresh = 1
iou_thresh=0.2
iou_normalizer=0.05
cls_normalizer=1
obj_normalizer=1.0
iou_loss=ciou
random=0
resize=1.25
nms_kind=diounms
beta_nms=0.6
max_delta=2
counters_per_class = 669894, 16644, 11117, 19427

[route]
layers = -4

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[upsample]
stride=2

[route]
layers = -1, 23

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=27
activation=linear

[yolo]
mask = 3,4,5
anchors =  12, 23,  24, 48,  38, 89,  77, 52,  61,132,  84,211, 139,132, 135,292, 263,330
classes=4
num=9
jitter=.15
scale_x_y = 1.15
ignore_thresh = .8
truth_thresh = 1
iou_thresh=0.2
iou_normalizer=0.05
cls_normalizer=1
obj_normalizer=1.0
iou_loss=ciou
random=0
resize=1.25
nms_kind=diounms
beta_nms=0.6
max_delta=2
counters_per_class = 669894, 16644, 11117, 19427

[route]
layers = -3

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky

[upsample]
stride=2

[route]
layers = -1, 15

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=27
activation=linear

[yolo]
mask = 0,1,2
anchors =  12, 23,  24, 48,  38, 89,  77, 52,  61,132,  84,211, 139,132, 135,292, 263,330
classes=4
num=9
jitter=.15
scale_x_y = 1.15
ignore_thresh = .8
truth_thresh = 1
iou_thresh=0.2
iou_normalizer=0.05
cls_normalizer=1
obj_normalizer=1.0
iou_loss=ciou
random=0
resize=1.25
nms_kind=diounms
beta_nms=0.6
max_delta=2
counters_per_class = 669894, 16644, 11117, 19427
